.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    border-bottom: 1px solid #C6C8CE;
    padding: 0px 36px 0px 36px;
    align-items: center;

    .leftBar {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;

        .barsIcon {

            height: 30px;
            width: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 4px;
            background-color: white;
            border: none;
            color: black;

            &:hover {
                background-color: #E8E6E3;
                border-radius: 8px;
            }
        }

        .dropdown-toggle::after {
            display: none;
        }

    }


    .imgContent {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        img {
            height: 22px;
            width: 36px;
            border-radius: 4px;

        }

        .content {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: black;

        }
    }

    .rightBar {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }


}

.offcanvas {
    width: 600px;
    padding: 36px;

    .offcanvas-header {
        padding: unset;
        margin-bottom: 36px;
    }

    Button {
        margin-top: 36px;
    }

    .form-control {
        margin-bottom: 16px;
    }
}