.booksNew {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    text-align: left;
    align-items: center;


    .displayImage {
        height: 150px;
        width: 100px;
    }

    .deleteButton {
        display: flex;
        flex-direction: row;
        height: 36px;
        width: 36px;
        align-items: center;
        justify-content: center;


        &:hover {
            background-color: mintcream;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .booksTopBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 56px;
        align-items: center;
        padding-right: 8px;

    }

    .textDiv {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .textContent {
            font-weight: 500;
            font-size: 16px;
            color: darkblue
        }
    }


}


.booksDiv {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
    padding: 36px;
    flex-wrap: wrap;


}