.booksButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 200px;
    // align-items: center;
    text-align: center;
    border: 1px solid #C6C8CE;
    border-radius: 8px;
    background-color: #E6E8E6;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }


    .book {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        flex-grow: 1;


    }

}


.books {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0 auto;
    // height: calc(100vh - 57px);
    width: 100%;
    padding: 36px;
    flex-wrap: wrap;
}

.deleteButton{
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-right: 8px;

    &:hover{
        background-color: #C6C8CE;
        border-radius: 8px;
    }
}